<section class="image-gallery">
  <div class="container">
    <h1 class="title">What are you looking for here?</h1>
    <div class="box-input">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search images..."
          class="search-input"
        />
        <button type="submit" class="search-button">Search</button>
      </form>
    </div>

    <ul class="gallery">
      <!-- Список с изображениями-->
    </ul>

    <button type="submit" class="load-more hidden">Load more</button>
    <button type="button" class="up hidden"></button>
  </div>
</section>
